body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    position: relative;
    margin: 0px;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------header------------------ */
.header {
    position: fixed;
    top: 0;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
        background-position: center -35px;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    z-index: 9999;
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
backdrop-filter:unset;
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
/* ------------giftshop---------------- */
.group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.giftshop-picture {
    margin-top: 48px;
    width: 473.48px;
    height: 305px;
    max-height: 340px;
    display: flex;
    justify-content: center;
}
.giftshop-picture img {
    width: 295px;
    height: 140px;
    position: absolute;
    z-index: 1;
}
.title-gift-shop {
    box-sizing: border-box;
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 36px;
    gap: 10px;
    z-index: 2;
    width: 301px;
    height: 57px;
    background: linear-gradient(271.3deg, rgba(32, 2, 73, 0.8) 5.94%, rgba(144, 21, 118, 0.8) 88.84%);
    border-radius: 20px 20px 0px 0px;
}
.title-gift-shop-text {
    width: 229px;
    height: 49px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ee4599 -7.6%, #f5a2c6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* .banner {
    width: 100%;
    height: auto;
    position: absolute;
    top: 220px;
    display: flex;
    justify-content: center;
} */
.banner {
    height: 100px;
    margin-top: 5px;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li {
    list-style-type: none;
}
.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.menu-group {
    padding: 8px 0px 12px;
    width: 314px;
    height: 30px;
}
.menu-list {
    display: flex;
    padding: 0px;
    margin: 0;
}
.menu-list li {
    margin-right: 7px;
}
.btn {
    width: 60px;
    height: 31px;
    border: none;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #200249;
}
.btn-data {
    background-image: linear-gradient(to right, #6d68af, #ee4599, #f5a2c6);
    color: #fff;
}
.btn-sms {
    background-image: linear-gradient(to right, #fdc16e, #ffd862, #ffea54, #fff34d);
}
.btn-voice {
    background-image: linear-gradient(to right, #fdc16e, #ffd862, #ffea54, #fff34d);
}
.btn-loyalty-point {
    width: 107px;
    height: 31px;
    background-image: linear-gradient(to right, #fdc16e, #ffd862, #ffea54, #fff34d);
}
.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh - 320px);
    overflow-y: scroll;
}
.card-list::-webkit-scrollbar {
    display: none;
}
.card {
    width: 336px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0px 0px 8px; */
    gap: 16px;
    margin-bottom: 5px;
}
.card-item {
    box-sizing: border-box;
    width: 160px;
    height: 80px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
}
.card-item-bonus {
    display: flex;
    justify-content: center;
    padding: 2px 40px;
    gap: 10px;
    position: absolute;
    width: 114px;
    height: 19px;
    left: -80px;
    top: 3px;
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    transform: rotate(-30deg);
}
.card-item-bonus-number {
    width: 34px;
    height: 15px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.card-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 160px;
    height: 48px;
}
.card-item-mb {
    align-items: center;
    text-align: center;
    margin-top: 17px;
}
.card-item-mb-number {
    width: 77px;
    height: 29px;

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.card-item-point {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 160px;
    height: 20px;
    background: linear-gradient(89.02deg, #200249 46.01%, #901576 98.6%);
    text-align: center;
    gap: 10px;
}
.card-item-point.confirm {
    background: linear-gradient(61.5deg, #3f3895 -1.12%, #15688c 52.91%, #92e5ff 103.77%);
}
.card-item-point.confirm-2 {
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #edc54e 45.2%, #b5a321 61.27%, #a69d18 70.85%);
}
.card-item-point-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    align-items: center;
    height: 100%;
}
.card-item-mb-number-2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    color: #ffffff;
}

.card-item-point-number {
    width: 49px;
    height: 15px;
    display: flex;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 3px;
}
.card-item-content-day {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4px 8px 0px 0px;
    gap: 10px;
    width: 160px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 0;
}
.card-item-content-day-text {
    height: 15px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card-item-point-number-2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: line-through;
    color: #ffffff;
    opacity: 0.5;
}
/* ------------footer---------------- */
.footer {
    width: 100%;
    /* height: 91px; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: url("../images/bg_footer.png");
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}
.footer_main .btn_mission {
    font-family: "Quicksand";
    font-family: 900;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 80px;
    height: 64px;
}
.footer_main .btn_mission img {
    object-fit: cover;
    transform: scale(0.7);
}
.btn_mission_text {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}
.footer_menu img {
    width: 36px;
    height: 30px;
    margin: auto;
    display: flex;
}
.footer_menu_text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}

/* ----------------- */
.mg-bg-gift-shop {
    margin-bottom: 5px;
}
.img-bg-gift-shop img {
    width: 100%;
    height: 100%;
}
.text-title-giftshop {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.text-title-giftshop img {
    transform: scale(0.9);
}
.text-title-giftshop span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 800;
    position: relative;
    font-size: 35px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ee4599 -7.6%, #f5a2c6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #901576;
}
/* .text-title-giftshop span::after {
    content: attr(title);
    position: absolute;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ee4599 -7.6%, #f5a2c6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 35px;
    line-height: 49px;
    text-transform: uppercase;
    -webkit-text-stroke: 4px lightseagreen;
}
.text-title-giftshop span::before {
    color: #fff;
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 4px #fff;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 35px;
    line-height: 49px;
    text-transform: uppercase;
} */
/* -----popup----- */

.popup-receiveMB,
.popup-receiveMB_fail {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    font-family: "Quicksand", sans-serif;
}

.popup-receiveMB:target,
.popup-receiveMB_fail:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}

.popup-receiveMB-content {
    width: 100%;
    min-height: 255px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-receiveMB-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 298px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.popup-receiveMB_fail .popup-receiveMB-content-main {
    background: rgba(255, 255, 255, 0.7);
}
.popup-receiveMB .line {
    width: 202px;
    height: 1px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.text-popup-receive {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
}
.btn_history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 36px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}
.btn_close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 36px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
}
.shine {
    transform: scale(1);
    animation: slide1 1s ease-in-out infinite;
}
.card-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 30px;
    height: 100%;
    transform: skewX(-45deg);
    animation: slide 2s linear infinite;
    z-index: 99;
    filter: blur(20px);
    opacity: 0.6;
    background: #e7e7e7;
}
.bg-title-effect-giftshop {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 50px;
}
@media (max-width: 690px) {
    .game-main {
        width: 100%;
        height: 100vh;
        margin-bottom: 30px;
        font-family: "Quicksand", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    .game-main::-webkit-scrollbar {
        display: none;
    }
}
@media (max-height: 768px) {
    .img-bg-gift-shop {
        height: 130px;
        margin-bottom: 7px;
    }
    .text-title-giftshop {
        font-size: 30px;
    }
}
@media (max-height: 678px) {
    .gift-shop-main {
        /* transform: scale(0.8); */
        margin-top: -5px;
    }
}
@keyframes slide1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2px);
    }
}

@keyframes slide {
    0% {
        top: 0;
    }

    100% {
        left: 100%;
    }
}
