body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------header------------------ */
.header {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
    background-position: center;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: blur(30px);
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
/* ------------giftshop---------------- */
.group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
}
.giftshop-picture {
    width: 70%;
    height: 121px;
    display: flex;
    justify-content:center;
}
.giftshop-picture img {
    width: 240px;
    height: 120px;
    position: absolute;
    z-index: 1;
}
.title-gift-shop {
    position: absolute;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 36px;
    gap: 10px;
    z-index: 2;
    width: 170px;
    height: 38px;
    background: linear-gradient(271.3deg, rgba(32, 2, 73, 0.8) 5.94%, rgba(144, 21, 118, 0.8) 88.84%);
    border-radius: 20px 20px 0px 0px;
}
.title-gift-shop-text {
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 990;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6D68AF -114.33%, #EE4599 -7.6%, #F5A2C6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.banner {
    width: 100%;
    height: 150px;
}
.banner img{
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none;
}
.menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
.menu-group {
    width: 314px;
    height: 100%;
}
.menu-list {
    display: flex;
    padding: 0px;
}
.menu-list li {
    margin-right: 7px;
}
.btn {
    width: 59px;
    height: 31px;
    border: none;
    border-radius:8px;
    padding: 8px, 16px, 8px, 16px;
}
.btn-data {
    background-image: linear-gradient(to right, #6D68AF , #EE4599, #F5A2C6);
}
.btn-sms {
    background-image: linear-gradient(to right, #FDC16E , #FFD862, #FFEA54, #FFF34D);
}
.btn-voice {
    background-image: linear-gradient(to right, #FDC16E , #FFD862, #FFEA54, #FFF34D);
}
.btn-loyalty-point {
    width: 100px;
    background-image: linear-gradient(to right, #FDC16E , #FFD862, #FFEA54, #FFF34D);
}
.card-list {
    width: 100%;
    height: 340px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}
.card-list-line {
    padding-left: 5%;
    padding-right: 5%;
}
.card {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 16px;
}
.card-item {
    box-sizing: border-box;
    width: 160px;
    height: 75px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
}
.card-item-bonus {
    display: flex;
    justify-content: center;
    padding: 2px 40px;
    gap: 10px;
    width: 10px;
    position: absolute;
    width: 10px;
    height: 19px;
    left: -20px;
    top: 0px;
    background: linear-gradient(311.52deg, #FDC16E 29.15%, #FFD862 45.2%, #FFEA54 61.27%, #FFF34D 70.85%);
    transform: rotate(-30deg);
}
.card-item-bonus-number {
    display: block;
    text-align: center;
}
.card-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.card-item-mb {
    display: flex;
    align-items: center;
    text-align: center;
}
.card-item-mb-number {
    width: 77px;
    height: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    background: linear-gradient(55.29deg, #FDC16E 0%, #FFD862 38.5%, #FFEA54 77.03%, #FFF34D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.card-item-point {
    width: 100%;
    height:20px;
    background: linear-gradient(89.02deg, #200249 46.01%, #901576 98.6%);
    text-align: center;
}
.card-item-point-number {
    width: 49px;
    height: 15px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.card-item-content-day {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4px 8px 0px 0px;
    gap: 10px;
    width: 160px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.card-item-content-day-text {
    width: 31px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* ------------footer---------------- */
.footer {
    width: 100%;
    height: 91px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../images/bg_footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 100%;
}
.footer_main .btn_mission {
    width: 104px;
    height: 40px;
    background: #200249;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.btn_mission_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}
.footer_menu_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
@media (min-width: 690px) {
    .game-main {
        transform: scale(0.7);
    }
}
@media (max-width: 690px) {
    .game-main {
        width: 100%;
        height:auto;
    }
}