@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-column {
    flex-direction: column;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.close-popup {
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    z-index: 99;
}
