@import url("./global.css");
@import url("./popup-buy-ticket.css");
@import url("./honozing.css");
.items-center {
    align-items: center;
}
.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg-ticket-lucky.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%) !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */
.header {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
    background-position: center -16px;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
backdrop-filter:unset;
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
}
.header_info_icon {
    width: 24px;
    height: 24px;
}
.img__title {
    display: flex;
    justify-content: center;
}

/* --------------ticket lucky--------------------- */
.main-ticketlucky-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-ticketlucky-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    max-width: 360px;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    background: linear-gradient(360deg, rgba(32, 2, 73, 0.9) 17.58%, rgba(144, 21, 118, 0.9) 112.42%);
    border-radius: 24px;
    border-top: 2px solid #ffffff;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 39px;
    overflow: hidden;
}
.btn-buymascot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    position: relative;
}
.btn-luckyticket {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    color: #200249;
    /* background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%); */
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.btn-honoring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    position: relative;
}
.scroll-ticket-lucky {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-ticket-lucky::-webkit-scrollbar {
    display: none;
}
.table-content {
    width: 100%;
    padding: 0 10px;
}
.table-content table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}

.table-content table thead tr {
    text-align: center;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    width: 100%;
}
.table-content table tbody tr {
    border-bottom: 1px solid rgba(245, 162, 198, 1);
    height: 20px;
}
.table-content table thead th {
    padding: 10px;
    text-align: center;
}
.table-content table tbody td {
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
}
.pagination-table {
    padding: 30px 0;
}
.pagination-table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.pagination-table-content .active {
    font-weight: 700;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 15px;
    height: 15px;
    border: 1px solid #fff34d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px 20px 0px 0px;
}
.title-history span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ee4599 -7.6%, #f5a2c6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#spin:target,
#point:target,
#prize:target {
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    color: #ffffff;
    position: relative;
}
#spin:target.btn-buymascot::before,
#point:target.btn-luckyticket::before,
#prize:target.btn-honoring::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    background: #ffff;
    transform: skew(-45deg);
    left: 0;
    top: 0;
    filter: blur(10px);
    animation: shine-btn 3.5s linear infinite;
}
@keyframes shine-btn {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@media (max-width: 430px) {
    .total_reward_jackport_detail {
        max-width: 120px;
    }
    .text-gold {
        font-size: 16px;
    }
    .total_reward_jackport div {
        font-size: 30px;
    }
    .popup-rule-content-main {
        max-width: 300px;
    }
}
@media (min-width: 540px) {
    .jackport_package_frame {
        max-width: 100%;
        margin-bottom: 12px;
    }
}
@media (max-width: 700px) {
    .main-ticketlucky-content-box {
        transform: scale(0.9);
    }
}
