@import url("./global.css");

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */
.header {
    position: fixed;
    top: 0;
    z-index: 999;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
    background-position: center -22px;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
backdrop-filter:unset;
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header_info_icon {
    width: 24px;
    height: 24px;
}

/* ------------footer---------------- */
.footer {
    width: 100%;
    /* height: 91px; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: url("../images/bg_footer.png");
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}
.footer_main .btn_mission {
    font-family: "Quicksand";
    font-family: 900;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 80px;
    height: 64px;
}
.footer_main .btn_mission img {
    object-fit: cover;
    transform: scale(0.7);
}
.btn_mission_text {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}
.footer_menu img {
    width: 36px;
    height: 30px;
    margin: auto;
    display: flex;
}
.footer_menu_text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}

/* 
--------------------event------------- */

.event_main {
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    height: 77px;
}

.event_left {
    position: relative;
    height: 46px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: start;
}
.event_time_text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}
.event_car_jackpot {
    position: absolute;
    top: -10px;
    left: -20px;
}

/* ------------LUCKYWELL GAME--------------- */
.game-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lucky-well {
    position: relative;
    max-height: 375px;
    max-width: 375px;
    width: 100%;
}
.spin-bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.lucky-well-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 295px;
    max-width: 295px;
    width: 100%;
}
.lucky-well-spin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spine-bot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -51px;
}
.spine-bot img {
    width: 255px;
    object-fit: cover;
}
.spine-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -118px;
}
.lucky-well-buy-turn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    z-index: 10;
}
.lucky-well-buy-turn span {
    font-family: "Quicksand";
    font-style: normal;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(161.26deg, #fffef8 -48.24%, #fdc16e 114.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.number-lucky-well {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.number-lucky-well span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.arow_lucky_well {
    position: absolute;
    top: -15px;
    right: 20%;
    z-index: 20;
}
.sns {
    position: absolute;
    left: 8px;
    bottom: 120px;
    width: 40px;
    height: 130px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    background: url(../images/Variant2.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
}
.list-sns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.popup-setting {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}
.popup-setting-content {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    max-width: 239px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.popup-setting:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.text-popup-setting {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title_popup_setting {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text__1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #200249;
}
.btn_soud_on {
    width: 45px;
    height: 23px;
    left: 96px;
    top: 0px;
    background: #200249;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
.btn_soud_off {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    width: 46px;
    height: 23px;
    background: #200249;
    border-radius: 0px 12px 12px 0px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
.lang-img img {
    opacity: 0.2;
}
.active-sound {
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
}
.text-lucky-ticket {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    left: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-jackpot-event {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    left: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #340b32;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lucky-ticket-event {
    position: fixed;
    top: 112px;
    left: 5px;
    z-index: 10;
    transform: scale(0.95);
}
.lucky-ticket-event .btn-lucket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 121px;
    height: 36px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    border: 1px solid #200249;
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.btn-lucket::before,
.btn-mission::before,
.btn-rollcall::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    background: #ffff;
    transform: skew(-45deg);
    left: 0;
    top: 0;
    filter: blur(10px);
    animation: shine-btn 3.5s linear infinite;
}
.btn-mission {
    position: relative;
    border-radius: 50px;
    margin-bottom: 5px;
    overflow: hidden;
}
.text-btn-mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-rollcall {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    border-radius: 20px;
    border: 3px solid #fff;
    width: 121px;
    height: 36px;
    font-family: "Racing Sans One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    -webkit-text-stroke: 1px #000;
    text-shadow: 2px 0 0 #901576, -2px 0 0 #000, 0 2px 0 #901576, 0 -2px 0 #000, 1px 1px 0 #901576, -1px -1px 0 #901576,
        1px -1px 0 #000, -1px 1px 0 #901576, 1px 1px 5px #000;
}

.jackpot-event {
    position: fixed;
    left: -20px;
    width: 200px;
    transform: scale(0.8);
    bottom: 150px;
}
.jackpot-box {
    position: absolute;
    left: -33px;
    top: 36.36%;
    bottom: 14.29%;
    background: rgba(42, 2, 34, 0.7);
    background-blend-mode: multiply;
    border-radius: 31.5px;
    width: 200px;
    height: 38px;
}
.jackpot-event .text-jackpot {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 12.99%;
    bottom: 40.26%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.jackpot-box-time {
    position: absolute;
    width: 164.01px;
    height: 61.55px;
    top: -4.5px;
}
.jackpot-box-time div {
    position: relative;
}
.jackpot-box-time div::after {
    content: "";
    position: absolute;
    background: url(../images/smoke.png);
    width: 40px;
    background-repeat: no-repeat;
    height: 40px;
    top: 20px;
    animation: smoke-car 1s ease-in infinite;
    background-position: center;
    background-size: cover;
}

.text-timeleft {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: -67px;
    left: 41%;
    transform: translateX(-50%);
    animation: slide-up 2s ease-in-out;
}
.car-animation {
    animation: car 2s linear 1;
}
.animation_shine {
    position: relative;
    width: 100%;
    height: 100%;
}
.animation_shine::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    transform: skewX(-70deg);
    /* animation: slide 0.5s linear infinite; */
    z-index: 99;
    filter: blur(10px);
    opacity: 0.75;
    background: #f7a5f6;
}
.shine-spin-animation {
    position: relative;
    overflow: hidden;
}
.shine-spin-animation::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 45%;
    width: 50px;
    height: 40px;
    background: #fff;
    transform: skew(-45deg) translateY(-50%);
    filter: blur(12px);
    animation: shine-spin 3s linear infinite;
}
.spin-option-1 {
    position: absolute;
    left: -39.25%;
    right: 65.61%;
    top: 68.01%;
    bottom: 18.85%;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #200249;
    transform: rotate(152.5deg);
}
.spin-option-2 {
    position: absolute;
    left: 26.4%;
    right: 49.95%;
    top: 77.06%;
    bottom: 19.8%;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #200249;
    transform: rotate(117.5deg);
}
.spin-option-3 {
    position: absolute;
    left: 39.01%;
    right: 2.35%;
    top: 95.33%;
    bottom: 22.53%;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #200249;
    transform: rotate(67.5deg);
}
.spin-option-4 {
    position: absolute;
    left: 72.15%;
    right: 2.63%;
    top: 54.95%;
    bottom: 36.28%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: rotate(22.5deg);
    height: 50px;
}
.spin-option-5 {
    position: absolute;
    left: 69.46%;
    right: 12.53%;
    top: 32.17%;
    bottom: 65.82%;
    transform: rotate(-22.5deg);
}
.spin-option-6 {
    position: absolute;
    left: 55.31%;
    right: 26.68%;
    top: 13.53%;
    bottom: 68.45%;
    transform: rotate(-67.5deg);
}
.spin-option-7 {
    position: absolute;
    left: 36.56%;
    right: 45.42%;
    top: 8.87%;
    bottom: 67.12%;
    transform: rotate(-113.5deg);
}
.spin-option-8 {
    position: absolute;
    left: 26.53%;
    right: 55.45%;
    top: -50.2%;
    bottom: 52.19%;
    transform: rotate(-161.5deg);
}
.spin-option-5 span,
.spin-option-6 span,
.spin-option-7 span,
.spin-option-8 span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* 4 */

    color: #200249;
}
@keyframes shine-spin {
    from {
        left: 10%;
        opacity: 1;
    }
    to {
        left: 60%;
        opacity: 0.2;
    }
}
@keyframes smoke-car {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-up {
    0% {
        transform: translateY(40px) translateX(-50%);
    }
    60% {
        transform: translateY(-2px) translateX(-50%);
    }
    70% {
        transform: translateY(2px) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}
@keyframes car {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(40px);
    }
    70% {
        transform: translateX(4px);
    }
    80% {
        transform: translateX(7px);
    }
    80% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(6px);
    }
}
@keyframes slide {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        opacity: 0.75;
        top: 100%;
        left: 100%;
    }
}
@media (max-width: 992px) {
    .game-main {
        transform: scale(0.95);
    }
    .lucky-well {
        transform: scale(0.95);
    }
}
@media (max-width: 430px) {
    .game-main {
        transform: scale(0.8);
    }
}
@media (max-width: 340px) {
    .lucky-well-spin {
        max-height: 295px;
        max-width: 270px;
        height: unset;
    }
}
@media (min-width: 678px) {
    /* .main {
        background-image: url("../images/bg-ipad-mini.png"),
            radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    } */
}
@media (min-height: 750px) {
    .jackpot-event {
        bottom: 200px;
    }
}
@keyframes shine-btn {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
