@import url("./global.css");

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */
.header {
    position: fixed;
    top: 0;
    z-index: 999;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
    background-position: center -6px;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header_info_icon {
    width: 24px;
    height: 24px;
}

/* ------------footer---------------- */
.footer {
    width: 100%;
    /* height: 91px; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: url("../images/bg_footer.png");
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}
.footer_main .btn_mission {
    width: 104px;
    height: 40px;
    background: #200249;
    font-family: "Montserrat";
    font-family: 900;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.btn_mission_text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}
.footer_menu img {
    width: 36px;
    height: 30px;
    margin: auto;
    display: flex;
}
.footer_menu_text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}

/* 
--------------------event------------- */

.event_main {
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    height: 77px;
}

.event_left {
    position: relative;
    height: 46px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: start;
}
.event_time_text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}
.event_car_jackpot {
    position: absolute;
    top: -10px;
    left: -20px;
}

/* ------------LUCKYWELL GAME--------------- */
.game-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lucky-well {
    position: relative;
    height: 375px;
    max-width: 375px;
    width: 100%;
}
.spin-bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.lucky-well-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 295px;
    max-width: 295px;
    width: 100%;
}
.lucky-well-spin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spine-bot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -43px;
}
.spine-bot img {
    width: 255px;
    object-fit: cover;
}
.spine-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -135px;
}
.lucky-well-buy-turn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    z-index: 10;
}
.lucky-well-buy-turn span {
    font-family: "Inter";
    font-style: normal;
    position: absolute;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(161.26deg, #fffef8 -48.24%, #fdc16e 114.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.number-lucky-well {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.number-lucky-well span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.arow_lucky_well {
    position: absolute;
    top: -15px;
    right: 20%;
    z-index: 20;
}
.sns {
    position: absolute;
    left: 8px;
    bottom: 120px;
    width: 40px;
    height: 130px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 50px;
    background: url(../images/Variant2.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
}
.list-sns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.popup-setting {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s;
    z-index: 99999;
}
.popup-setting-content {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    max-width: 239px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.popup-setting:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.text-popup-setting {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title_popup_setting {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text__1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #200249;
}
.btn_soud_on {
    width: 45px;
    height: 23px;
    left: 96px;
    top: 0px;
    background: #200249;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
.btn_soud_off {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 8px;
    gap: 4px;
    width: 46px;
    height: 23px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border-radius: 0px 12px 12px 0px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
@media (max-width: 992px) {
    .game-main {
        transform: scale(1);
    }
    .lucky-well {
        transform: scale(1);
    }
}
@media (max-width: 430px) {
    .game-main {
        transform: scale(0.8);
    }
}
@media (min-width: 678px) {
    .main {
        background-image: url("../images/bg-ipad-mini.png"),
            radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%);
    }
}
