.popup-daily {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 1s;
}

.popup-daily-content {
  width: 100%;
  height: 338.96px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-daily-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 24px;
  gap: 12px;
  isolation: isolate;
  max-width: 298px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #ffffff;
  border-radius: 20px;
  position: relative;
}
.coin-assets-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -90px;
  left: -15px;
  z-index: 10;
}
.popup-daily .spin-popup {
  position: relative;
}
.popup-daily .spin-popup img {
  width: 150px;
  height: 155.96px;
  object-fit: cover;
  transform: scale(2);
  margin-top: -27px;
  margin-bottom: 20px;
}
.amount-receive {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.amount-receive-daily {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.popup-daily .coin-1 {
  position: absolute;
  width: 59.23px;
  height: 58.23px;
  right: -5px;
  top: 100px;
}
.popup-daily .line {
  width: 250px;
  height: 1px;
  background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.content-text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #200249;
}
.content-text span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 3px;
}
.btn-collect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  max-width: 250px;
  width: 100%;
  height: 35px;
  background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
  border: 1px solid #ffffff;
  backdrop-filter: blur(30px);
  border-radius: 50px;
}
.btn-collect div {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.close-popup {
  position: absolute;
  right: -10px;
  top: -15px;
  cursor: pointer;
  z-index: 99;
}
.close-popup:active .popup-daily {
  visibility: hidden;
}
.btn-ok {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 36px;
  background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
  border: 1px solid #ffffff;
  backdrop-filter: blur(30px);
  border-radius: 50px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .game-main {
    transform: scale(0.8);
  }
  .lucky-well {
    transform: scale(0.8);
  }
}
@media (max-width: 350px) {
  .game-main {
    transform: scale(0.7);
  }
  .lucky-well {
    transform: scale(0.7);
  }
}
