@import url("./global.css");
@import url("./popup-buy-ticket.css");
.items-center {
    align-items: center;
}
.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg-ticket-lucky.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%) !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */

.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
backdrop-filter:unset;
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
}
.header_info_icon {
    width: 24px;
    height: 24px;
}
.img__title {
    display: flex;
    justify-content: center;
}

/* --------------ticket lucky--------------------- */
.main-ticketlucky-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: scale(0.8);
}
.main-ticketlucky-content.mascot {
    transform: scale(1);
}
.main-ticketlucky-content.honozing {
    transform: scale(0.72);
}
.main-ticketlucky-content.honozing .main-ticketlucky-content-box {
    gap: 10px;
}
.main-ticketlucky-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    max-width: 360px;
    width: 100%;
    background: linear-gradient(360deg, rgba(32, 2, 73, 0.9) 17.58%, rgba(144, 21, 118, 0.9) 112.42%);
    border-radius: 24px;
    z-index: 99;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 39px;
    border-top-left-radius: 24px;
    overflow: hidden;
    border-top-right-radius: 24px;
}
.btn-buymascot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    backdrop-filter: unset;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.shine::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 30px;
    height: 100%;
    transform: skewX(-45deg);
    animation: slide 2s linear infinite;
    z-index: 99;
    filter: blur(20px);
    opacity: 1;
    background: #e7e7e7;
}
.btn-luckyticket {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    backdrop-filter: unset;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.btn-honoring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    backdrop-filter: unset;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text-intro-luckyticket {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.list-ticketlucky {
    width: 100%;
    padding: 0 5px;
    transform: scale(0.94);
    margin-top: -25px;
}
.tiket-lucky-item {
    max-width: 325px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}
.text-amount-point {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
.input-amount-luckyticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    max-width: 150px;
    width: 1005;
    height: 31px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    margin-top: 5px;
}
.btn_buy_ticket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 31px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    backdrop-filter: unset;
    border-radius: 8px;
    margin-top: 5px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-gift-shop {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
    background: url("../images/Flower\ \(1\).png");
    mix-blend-mode: screen;
    background-position: center -3px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.title-gift-shop .text-title {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ff9dce -7.6%, #ffdceb 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 100%;
    display: flex;
    justify-content: center;
}
.list-ticket-image {
    position: absolute;
    top: -80px;
    z-index: 1;
}
.scroll-ticket-lucky {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    padding-top: 25px;
}
.scroll-ticket-lucky::-webkit-scrollbar {
    display: none;
}
.fail-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 44px;
    background: #474747;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.rest-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 210px;
    height: 25px;
    background: #200249;
    border-radius: 0px 0px 12px 12px;
    margin-top: -15px;
}
.rest-time span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.box-lucky {
    background: #2b052f;
    border-radius: 30px 0px 8px;
    width: 158.65px;
    height: 89px;
    position: relative;
}

.box-lucky .name-lucky {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
    width: 95.67px;
    height: 29px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(318.44deg, #200249 11.09%, #901576 97.85%);
}
.box-lucky .name-lucky span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.box-lucky .img_cat {
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
}
.box-lucky .img_cat img {
    width: 80px;
}
.box-lucky .reward-mascot {
    position: absolute;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
}
.box-lucky .reward-mascot span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #ffffff;
}
.reward-old {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: capitalize;
    color: #ffffff;
    opacity: 0.5;
    justify-content: end;
}
.shine-cat,
.shine-cat-1 {
    position: relative;
    overflow: hidden;
}
.shine-cat-1::before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 12px;
    height: 25px;
    left: 45%;
    transform: translate(-50%, -50%) skewX(-35deg);
    filter: blur(5px);
    opacity: 0;
    top: 0;
    animation: shine_cat 5s linear infinite;
}
.shine-cat::before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 17px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-40deg);
    filter: blur(6px);
    opacity: 0;
    top: 0;
    animation: shine_cat 5s linear infinite;
}
@media (min-height: 700px) {
    .main-ticketlucky-content {
        transform: scale(0.83);
    }
    .main-ticketlucky-content.mascot {
        transform: scale(1);
    }
    .main-ticketlucky-content.honozing {
        transform: scale(0.78);
    }
}
@media (min-height: 800px) {
    .main-ticketlucky-content {
        transform: scale(1);
    }
}
@keyframes shine_cat {
    0% {
        opacity: 0;
        top: 10%;
    }
    50% {
        opacity: 1;
        top: 35%;
    }
    100% {
        opacity: 0;
        top: 70%;
    }
}
