@import url("./global.css");
@import url("./popup-buy-ticket.css");
@import url("./lucky-ticket.css");

.btn-buymascot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.btn-luckyticket {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%) !important;
    backdrop-filter: unset;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.btn-honoring {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 39px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%) !important;
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.text-intro-luckyticket {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.list-ticketlucky {
    width: 100%;
    padding: 10px 5px;
}
.tiket-lucky-item {
    max-width: 325px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 10px;
    border-bottom: 1px solid #ffffff;
    padding: 20px 0;
}
.text-amount-point {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
.input-amount-luckyticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    max-width: 150px;
    width: 1005;
    height: 31px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    margin-top: 5px;
}
.btn_buy_ticket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 31px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    border-radius: 8px;
    margin-top: 5px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-gift-shop {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
    background: url("../images/Flower\ \(1\).png");
    mix-blend-mode: unset !important;
    background-position: center -3px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-gift-shop {
    z-index: 9;
}
.list-ticket-image {
    position: absolute;
    top: -80px;
    z-index: 1;
}
.scroll-ticket-lucky {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-ticket-lucky::-webkit-scrollbar {
    display: none;
}
.winner_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 139px;
    height: 30px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(30px);
    border-radius: 12px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row-baner {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.banner_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -50px;
    gap: 30px;
}

/* -------popup winner list------------- */
.popup-winnerlist {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
}
.popup-winnerlist:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.popup-winnerlist-content {
    width: 100%;
    min-height: 272.28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-winnerlist-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 315px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.close-popup {
    position: absolute;
    right: -15px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
}
.popup-winnerlist .line {
    width: 100%;
    height: 1px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.table-content table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}
.table-content table thead tr {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #200249;
}
.table-content table tbody tr {
    border-bottom: 1px solid #200249;
    height: 25px;
}
.table-content table tbody td {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #200249;
    width: 30%;
}
.list-winner {
    width: 100%;
}
.list-winner .table-content .scroll-table {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}
.list-winner::-webkit-scrollbar,
.scroll-table::-webkit-scrollbar {
    display: none;
}
.title_winner_list {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 430px) {
    .total_reward_jackport_detail {
        max-width: 120px;
    }
    .text-gold {
        font-size: 16px;
    }
    .total_reward_jackport div {
        font-size: 30px;
    }
    .popup-rule-content-main {
        max-width: 300px;
    }
}
@media (min-width: 540px) {
    .jackport_package_frame {
        max-width: 100%;
        margin-bottom: 12px;
    }
}
