.popup-inbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s;
}
.popup-inbox:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.popup-inbox-content {
    width: 100%;
    height: 404px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inbox-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 298px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.coin-assets-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -90px;
    left: -15px;
    z-index: 10;
}
.popup-inbox .spin-popup {
    position: relative;
}
.popup-inbox .spin-popup img {
    width: 150px;
    height: 155.96px;
    object-fit: cover;
    transform: scale(1.05);
}
.amount-receive {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popup-inbox .coin-1 {
    position: absolute;
    width: 59.23px;
    height: 58.23px;
    right: -5px;
    top: 100px;
}
.popup-inbox .line {
    width: 250px;
    height: 1px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.content-text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #200249;
}
.btn-collect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    max-width: 250px;
    width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 50px;
}
.btn-collect div {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.close-popup {
    position: absolute;
    right: -15px;
    top: -20px;
    cursor: pointer;
    z-index: 99;
}
.close-popup:active .popup-inbox {
    visibility: hidden;
}
.inbox-main-content {
    max-width: 336px;
    width: 100%;
    height: 386px;
    overflow-y: scroll;
}
.row-inbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 72px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 5px;
}
.row-inbox-content {
}
.row-inbox-content-title {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.row-inbox-content-text {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

@media (max-width: 992px) {
    .game-main {
        transform: scale(0.8);
    }
    .lucky-well {
        transform: scale(0.8);
    }
}
@media (max-width: 350px) {
    .game-main {
        transform: scale(0.7);
    }
    .lucky-well {
        transform: scale(0.7);
    }
}
