.popup-buy_turn,
.popup-warning {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    font-family: "Quicksand", sans-serif;
}
.popup-buy_turn_confirm {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    font-family: "Quicksand", sans-serif;
}
.popup-buy_turn:target,
.popup-warning:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.popup-buy_turn_confirm:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.popup-buy_turn-content {
    width: 100%;
    min-height: 255px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-buy_turn_confirm .popup-buy_turn-content {
    width: 100%;
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-buy_turn-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 252px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.popup-warning .popup-buy_turn-content-main {
    background: rgba(255, 255, 255, 0.6);
}
.coin-assets-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -90px;
    left: -15px;
    z-index: 10;
}
.popup-buy_turn .spin-popup {
    position: relative;
}
.popup-buy_turn .spin-popup img {
    width: 150px;
    height: 155.96px;
    object-fit: cover;
    transform: scale(1.05);
}
.amount-receive {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popup-buy_turn .coin-1 {
    position: absolute;
    width: 59.23px;
    height: 58.23px;
    right: -5px;
    top: 100px;
}
.popup-buy_turn .line {
    width: 202px;
    height: 1px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.content-text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #200249;
    margin-bottom: 10px;
}
.btn-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    max-width: 175px;
    width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    text-decoration: none;
}
.btn-buy div {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.close-popup {
    position: absolute;
    right: -10px;
    top: -15px;
    cursor: pointer;
    z-index: 99;
}
.close-popup:active .popup-buy_turn {
    visibility: hidden;
}
.form_control_amout {
    max-width: 200px;
    width: 100%;
    height: 38px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enter-pincode {
    max-width: 250px;
    width: 100%;
    height: 52px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
}
.form_control_amout .amount {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #200249;
}
.btn_reduce,
.btn_increase {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    height: 100%;
    width: 30px;
    color: #200249;
    font-size: 15px;
}
.number-pin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;
    width: 36px;
    height: 36px;
    background: #474747;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.text-total-price {
    max-width: 160px;
    width: 100%;
}
.text-total-price span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
}
.wrong_opt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 104px;
    height: 23px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #e41414;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-receive {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffd962;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-resend {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #200249;
}
.btn-confirm {
    max-width: 120px;
    width: 100%;
    height: 36px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 36px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-ok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 250px;
    height: 36px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-warning {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #200249;
}
.row-buy-turn {
    width: 222px;
    height: 114.37px;
    position: relative;
    display: flex;
}
.cicle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cicle-spin img {
    animation: rotate 4s linear infinite;
}
.vector_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        15deg,
        #fbac34 9.17%,
        #fbb03b 20%,
        #fdbb50 36.44%,
        #ffce70 56.44%,
        #ffe79a 79.04%,
        #fff9b6 90.84%
    );
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.vector_2 {
    background: linear-gradient(15deg, #fdc16e 9.17%, #ffd856 40.61%, #ffe937 72.08%, #fff325 90.84%);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vector_2 span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.buy-turn-price {
    background: #595653;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    border-radius: 0px 0px 12px 0px;
    width: 159px;
    height: 90px;
    opacity: 0.85;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.total-turn {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
    width: 89px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(318.44deg, #200249 11.09%, #901576 97.85%);
}
.total-turn span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.buy-turn-price .price-1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;

    color: #ffffff;
}
.buy-turn-price .price-old {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
    text-decoration-line: line-through;
    text-transform: capitalize;

    color: #ffffff;

    opacity: 0.5;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@media (max-width: 992px) {
    .game-main {
        transform: scale(0.8);
    }
    .lucky-well {
        transform: scale(0.8);
    }
}
@media (max-width: 350px) {
    .game-main {
        transform: scale(0.7);
    }
    .lucky-well {
        transform: scale(0.7);
    }
}
