@import url("./global.css");
@import url("./popup-buy-ticket.css");
@import url("./honozing.css");
.items-center {
    align-items: center;
}
.main {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg-ticket-lucky.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%) !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */

.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
}
.header_info_icon {
    width: 24px;
    height: 24px;
}
.img__title {
    display: flex;
    justify-content: center;
}

/* --------------profile--------------------- */
.profile-wrap {
    height: 100%;
    overflow: scroll;
    padding: 75px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-wrap::-webkit-scrollbar {
    display: none;
}
.main-profile {
    display: flex;
    justify-content: center;
    max-width: 350px;
    width: 100%;
}
.main-ticketlucky-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 41px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    margin: auto;
}
.main-ticketlucky-content-box .name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
.main-ticketlucky-content-box .phone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.frame-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 0px;
    gap: 12px;
    max-width: 309px;
    width: 100%;
    height: 31px;
    border-top: 1px solid #ffffff;
    margin-top: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #ffffff;
}
.frame-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 16px;
    gap: 12px;
    max-width: 309px;
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
}
.btn-buymascot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 148.5px;
    height: 21px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 148.5px;
    height: 21px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px;
    width: 100%;
    max-width: 309px;
}
.frame-3 input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    max-width: 285px;
    width: 100%;
    height: 26px;
    background: rgba(32, 2, 73, 0.8);
    border-radius: 8px;
    border: none;
    outline: none;
}
.frame-3 input::placeholder {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-lable {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
}
.frame-3 textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 285px;
    height: 44px;
    width: 100%;
    background: rgba(32, 2, 73, 0.8);
    border-radius: 8px;
    outline: none;
}
.frame-3 textarea::placeholder {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #ffffff;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 309px;
    width: 100%;
    height: 36px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 50px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 10px;
}
@media (max-width: 380px) {
    /* .main-profile {
        transform: scale(0.75);
    } */
}
@media (max-height: 700px) {
    /* .main-profile {
        padding: 100px 0;
    } */
}
