@import url("./global.css");
@import url("./popup-buy-ticket.css");
@import url("./honozing.css");
.items-center {
    align-items: center;
}
.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/bg-ticket-lucky.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%) !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */
.header {
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    background: url("../images/rectangle1.png");
    background-repeat: no-repeat;
    background-position: center -16px;
    isolation: isolate;
    background-size: 100%;
    background-blend-mode: overlay;
    backdrop-filter: blur(30px);
}
.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
}
.header_info_icon {
    width: 24px;
    height: 24px;
}
.img__title {
    display: flex;
    justify-content: center;
}

/* --------------ticket lucky--------------------- */
.main-ticketlucky-content {
    width: 100%;
    margin-top: 250px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-ticketlucky-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    max-width: 360px;
    width: 100%;
    min-height: 400px;
    background: linear-gradient(360deg, rgba(32, 2, 73, 0.9) 17.58%, rgba(144, 21, 118, 0.9) 112.42%);
    backdrop-filter: blur(2px);
    border-radius: 24px;
    border-top: 2px solid #ffffff;
    transform: scale(0.9);
}

.scroll-ticket-lucky {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-ticket-lucky::-webkit-scrollbar {
    display: none;
}
.table-content {
    width: 100%;
    padding: 0 10px;
}
.table-content table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}

.table-content table thead tr {
    text-align: center;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    width: 100%;
}
.table-content table tbody tr {
    border-bottom: 1px solid rgba(245, 162, 198, 1);
    height: 20px;
}
.table-content table thead th {
    padding: 10px;
    text-align: center;
}
.table-content table tbody td {
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
}
.pagination-table {
    padding: 30px 0;
}
.pagination-table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.pagination-table-content .active {
    font-weight: 700;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-history {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(271.3deg, rgba(32, 2, 73, 0.8) 5.94%, rgba(144, 21, 118, 0.8) 88.84%);
}
.title-history span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(20.68deg, #6d68af -114.33%, #ee4599 -7.6%, #f5a2c6 80.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popup-mision-content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.85);
}
.popup-mision-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 384px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.coin-assets-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -90px;
    left: -15px;
    z-index: 10;
}
.popup-mision .spin-popup {
    position: relative;
}
.popup-mision .spin-popup img {
    width: 150px;
    height: 155.96px;
    object-fit: cover;
    transform: scale(1.05);
}
.amount-receive {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popup-mision .coin-1 {
    position: absolute;
    width: 59.23px;
    height: 58.23px;
    right: -5px;
    top: 100px;
}

.row-mision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 4px;
    max-width: 384px;
    min-height: 59px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 3px;
}
.close-popup {
    position: absolute;
    right: -15px;
    top: -30px;
    cursor: pointer;
    z-index: 99;
}
.title-text-mission {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #200249;
}
.row-mission-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.row-mission-bottom .left_content {
    display: flex;
    align-items: center;
    gap: 5px;
}
.row-mission-bottom .right_content {
    display: flex;
    align-items: center;
    gap: 5px;
}
.left_content span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
}
.btn_mission_detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 60px;
    height: 20px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
}
.btn_mission_complete,
.btn_mission_unfinished {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: 116.5px;
    height: 20px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn_mission_complete {
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    color: #ffffff;
}
.btn_mission_unfinished {
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%);
    color: #200249;
}
.popup-inbox-content {
    width: 100%;
    height: 404px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inbox-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 298px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
    transform: scale(0.95);
}
.coin-assets-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -90px;
    left: -15px;
    z-index: 10;
}
.popup-inbox .spin-popup {
    position: relative;
}
.popup-inbox .spin-popup img {
    width: 150px;
    height: 155.96px;
    object-fit: cover;
    transform: scale(1.05);
}
.amount-receive {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.popup-inbox .coin-1 {
    position: absolute;
    width: 59.23px;
    height: 58.23px;
    right: -5px;
    top: 100px;
}
.popup-inbox .line {
    width: 250px;
    height: 1px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
}
.content-text {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #200249;
}
.btn-collect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    max-width: 250px;
    width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    border: 1px solid #ffffff;
    backdrop-filter: blur(30px);
    border-radius: 50px;
}
.btn-collect div {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inbox-main-content {
    max-width: 336px;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}
.row-inbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 72px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 5px;
}
.row-inbox-content {
}
.row-inbox-content-title {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.row-inbox-content-text {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.text-custom {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: left;
}
@media (max-width: 430px) {
    .total_reward_jackport_detail {
        max-width: 120px;
    }
    .text-gold {
        font-size: 16px;
    }
    .total_reward_jackport div {
        font-size: 30px;
    }
    .popup-rule-content-main {
        max-width: 300px;
    }
}
@media (min-width: 540px) {
    .jaclport_package_frame {
        max-width: 100%;
        margin-bottom: 12px;
    }
}
@media (min-height: 680px) {
    .main-ticketlucky-content {
        margin-top: 210px;
    }
}
