@import url("./global.css");
.items-center {
    align-items: center;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../images/slot-machine-bg.png"),
        radial-gradient(156.86% 89.06% at -8.37% 83.74%, #a50f7b 10.91%, #04003f 79.33%) !important;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-page {
    max-width: 992px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------header------------------ */

.header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    padding: 8px 20px 16px 36px;
}
.header .coin {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 57px;
    height: 23px;
    position: relative;
    background: url("../images/Variant3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.header .coin .box-coin {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 24px;
    gap: 10px;
    /* width: 57px;
    height: 23px;
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    border: 1px solid #ffffff;
backdrop-filter:unset;
    border-radius: 8px; */
}
.header .coin .box-coin .amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-1 {
    position: absolute;
    width: 23.58px;
    height: 23.5px;
    top: -3px;
    transform: rotate(36deg);
    z-index: 2;
}
.coin-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    transform: rotate(52.86deg);
}
.coin-1 img,
.coin-2 img {
    object-fit: cover;
}
.header_info {
}
.home {
    width: 100%;
    height: 100%;
    /* background: url("../images/bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 48px;
}
.header_info_avatar {
    width: 48px;
    height: 48px;
    border-radius: 505;
    background: url("../images/avatar.png");
}
.header_info_icon {
    width: 24px;
    height: 24px;
}
.img__title {
    display: flex;
    justify-content: center;
    position: relative;
}
.effect-title {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    mix-blend-mode: screen;
    width: 100%;
    z-index: 9;
}
.effect-title img {
    width: 100% !important;
}
.text-bigwin {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 10px;
}
/* --------------jackport--------------------- */
.main-slot-machine {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-slot-machine::-webkit-scrollbar {
    display: none;
}
.list-btn-jackport {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    z-index: 1000;
    position: relative;
}
.buy_ticket_jackport {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 129px;
    height: 35px;
    background: #fbac34;
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn_rule {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 83px;
    height: 35px;
    background: linear-gradient(36.65deg, #ffdbac 36.47%, #ffddae 38.48%, #fff1ca 63.7%, #fffcd5 78.71%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #340b32;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.btn__honoring {
    width: 128px;
    height: 36px;
    background: linear-gradient(61.5deg, #6d68af -1.12%, #348fa3 52.91%, #9ae3c0 103.77%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.jackport_package {
    margin-top: 15px;
    z-index: 999;
    position: relative;
}
.jackport_package_frame {
    max-width: 398px;
    width: 100%;
    height: 189px;
    background: url("../images/frame-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.total_reward_jackport {
    position: absolute;
    right: 5px;
    bottom: 16px;
}
.total_reward_jackport .gold {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 49px;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.total_reward_jackport .silver {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 49px;
    text-transform: capitalize;
    background: linear-gradient(180deg, #d8d8d8 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.total_reward_jackport .bronze {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 49px;
    background: linear-gradient(180deg, #fbdbbc 0%, #b86819 100%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.jackport_package_frame .package_img {
    position: absolute;
    width: 150px;
    height: 184px;
    left: calc(50% - 171px / 2 - 97.5px);
    top: calc(50% - 184px / 2 - 12px);
}
.jackport_package_frame .package_img2 {
    position: absolute;
    width: 179px;
    height: 184px;
    left: calc(50% - 171px / 2 - 97.5px);
    top: calc(50% - 184px / 2 - 12px);
}
.time_left_package {
    position: absolute;
    right: 25px;
    top: 25px;
}
.time_left_package_live {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}
.time_left_package_live span {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.total_reward_jackport_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 4px;
    max-width: 160px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-bottom: 2px solid #ffff;
}
.text-gold {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-silver {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(268.34deg, #ffffff -14.46%, #a7a7a7 100.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-bronze {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(268.34deg, #c17528 -14.46%, #cb9e70 100.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-amount {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
/* ------------poup rule---------------- */

.popup-rule {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.25s, opacity 0.25s;
}
.popup-rule-content {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-rule-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    isolation: isolate;
    max-width: 384px;
    width: 90%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: relative;
}
.close-popup {
    position: absolute;
    right: -15px;
    top: -25px;
    cursor: pointer;
    z-index: 99;
}
.box-content-rule {
    height: 75vh;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #200249;
}
.popup-rule:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.25s;
}
.point__win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.point__win span {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #bc4409 15.91%, #e5fe62 40.41%, #ebc939 64.93%, #f9b018 79.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn__win {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 128px;
    height: 36px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    border: 1px solid #ffffff;
    backdrop-filter: unset;
    border-radius: 50px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.rule-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 336px;
    height: 40px;
    background: linear-gradient(36.65deg, #ffdbac 36.47%, #ffddae 38.48%, #fff1ca 63.7%, #fffcd5 78.71%);
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #200249;
}
.btn-prize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 170px;
    width: 100%;
    height: 23px;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    border-radius: 8px;
}
.btn-prize span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ---------------popup jackpot prize------------ */
.popup-jackpot-prize {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.popup-jackpot-prize-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-jackpot-prize-content-main {
    max-width: 398px;
    width: 95%;
    height: auto;
    position: relative;
    background: rgba(42, 0, 49, 0.85);
    opacity: 0.85;
    border-radius: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 2px -2px rgba(255, 255, 255, 0.5), 0px -2px 2px -2px rgba(255, 255, 255, 0.5),
        2px 0px 2px -2px rgba(255, 255, 255, 0.5), -2px 0px 2px -2px rgba(255, 255, 255, 0.5);
}

/* .popup-jackpot-prize-content-main::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(154.1deg, rgba(255, 255, 255, 0) 16.34%, rgba(255, 255, 255, 0.6) 78.19%);
    content: "";
    z-index: -1;
    border-radius: 30px;
} */
.close-popup {
    position: absolute;
    right: -15px;
    top: -25px;
    cursor: pointer;
    z-index: 99;
}
.bag-header {
    position: absolute;
    width: 171px;
    height: 184px;
    left: -10px;
    top: -34px;
}
.title-jackpot-prize,
.title-jackpot-prize-silver,
.title-jackpot-prize-bronze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 221px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 10;
    margin-top: 40px;
    margin-left: 100px;
}
.title-jackpot-prize span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.title-jackpot-prize-bronze span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(268.34deg, #c17528 -14.46%, #cb9e70 100.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.line-popup-prize {
    /* background: #ffffff;
    height: 1px;
    max-width: 335px;
    width: 100%; */
    margin: 30px 0;
}
.reward-box {
    max-width: 335px;
    width: 100%;
    margin: auto;
}
.fiat-reward {
    width: 122px;
    height: 121px;
    position: relative;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}
.fiat-reward.house {
    background: url("../images/fiat.png");
}
.fiat-reward.car {
    background: url("../images/car-reward.png");
}
.fiat-reward.phone {
    background: url("../images/phone.png");
}
.fiat-reward.bike {
    background: url("../images/bike.png");
}
.fiat-reward.television {
    background: url("../images/television.png");
}
.fiat-reward.gold {
    background: url("../images/gold-reward.png");
}
.fiat-reward.money {
    background: url("../images/money.png");
}
.btn-prize-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 97px;
    height: 21px;
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    border: 1px solid #ffffff;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #200249;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.btn-reward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    width: 100px;
    min-height: 45px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background: linear-gradient(311.52deg, #fdc16e 29.15%, #ffd862 45.2%, #ffea54 61.27%, #fff34d 70.85%);
    border-radius: 8px;
}
.btn-reward.bronze_btn {
    min-height: 22px !important;
}
.reward-box.brone_custom .fiat-reward {
    height: 102px;
}
.btn-reward .bonus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 88px;
    height: 13px;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    border-radius: 4px;
}
.btn-reward .bonus .bonus-coin {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* 2 */

    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.btn-reward span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #200249 -7.52%, #901576 61.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.event-live-title-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.event-live-title span {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #ffffff;
}
.num-live-event {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.poin-text-event {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(90deg, #6d68af 0%, #ee4599 51.51%, #f5a2c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-right: 5px;
}
.time-left-live-event {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.time-left-live-event span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
}
.row-content-live .text-1 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    background: linear-gradient(55.29deg, #fdc16e 0%, #ffd862 38.5%, #ffea54 77.03%, #fff34d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.row-content-live .text-2 {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #f38dbc;
    text-decoration: none;
}
.title-jackpot-prize-silver span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(268.34deg, #ffffff -14.46%, #a7a7a7 100.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media (max-height: 900px) {
    .jackport_package_frame {
        transform: scale(0.95);
    }
    .main-slot-machine {
        margin-top: 50px;
    }
    .jackport_package {
        margin-top: -21px;
    }
    .list-btn-jackport {
        margin-top: -5px;
        margin-bottom: 5px;
    }
}

@media (max-height: 768px) {
    .effect-title {
        top: -15px;
    }

    .main-slot-machine {
        transform: scale(0.85);
    }
    .jackport_package_frame {
        transform: scale(0.9);
        margin-top: -35px;
        margin-bottom: 20px;
    }
    .img__title img {
        width: 267px;
    }
    .popup-jackpot-prize-content-main {
        transform: scale(0.9);
    }
}
@media (max-height: 700px) {
    .jackport_package_frame {
        transform: scale(0.85);
    }
    .jackport_package_frame {
        margin-top: -35px;
        margin-bottom: 2px;
    }
}
